<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Hello Stranger</h1>
    <a href="/login">login</a>
    <a href="/signup">sign up</a>
  </body>
</html>
